/* --------------------- Colours -------------------- */
$color-light-green: #d8e2dc;
$color-light-orange: #ffe5d9;
$color-light-pink: #ffcad4;
$color-light-red: #f4acb7;
$color-light-brown: #9d8189;

$color-text: white;
$color-dark-blue: #355070;
$color-dark-purple: #6d597a;
$color-dark-rose: #b56576;
$color-dark-red: #e56b6f;
$color-dark-orange: #eaac8b;

/* --------------------- Screen Sizes -------------------- */

$tablet-min-size: 768px;
$desktop-min-size: 1280px;

$side-margin-mobile: 1rem;
$side-margin-tablet: 1.5rem;
$side-margin-desktop: 1.6rem;
