@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
.budget-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  &__btn {
    border: none;
    border-radius: $border-radius-inputs + 2rem;
    padding: 0.6rem;
    background-color: $color-dark-orange;
    &:hover {
      filter: hue-rotate(25deg);
      filter: brightness(90%);
      transition: ease-in-out 0.25s;
      box-shadow: 1px 1px 0.625rem $color-black;
    }
  }
}
