@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $color-darker-blue;
  padding: 0.4rem;
  box-shadow: 0px 4px 4px rgba(black, 0.2);
  border-radius: $border-radius-inputs;
  cursor: pointer;
  &:hover {
    background-color: rgba($color-dark-purple, 0.7);
    transition: ease-in 0.1s;
  }
  @include tablet {
    padding: 1rem;
  }
  &__info {
    flex: 2;
    display: flex;
    justify-content: space-between;
    &--small {
      flex: 1;
    }
    &--space-around {
      justify-content: space-around;
    }
  }

  &__chip {
    display: flex;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(black, 0.6);
    font-size: 0.5rem;
    width: fit-content;
    align-items: center;
    padding: 3px 5px;
    border-radius: 3rem;
    gap: 0.2rem;
    background-color: $color-dark-orange;
    color: $color-black;
    &--green {
      background-color: $color-dark-green;
    }
    &--rose {
      background-color: $color-dark-rose;
    }
    &--red {
      background-color: $color-dark-red;
    }
    @include tablet {
      padding: 5px 8px;
    }
  }
  &__text {
    &--bold {
      font-weight: $font-weight-regular;
    }
  }

  &__icon {
    width: 12px;
  }
}
