@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.summary {
  &__content {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      gap: 1rem;
    }
  }
  &__main-title {
    padding: 1rem 0;
  }
  &__expenses-header {
    text-align: center;
    padding: 0.5rem 0;
  }
  &__table-titles {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 1px solid white;
    margin: 0.5rem 0;
  }
  &__titles {
    flex: 2;
    &--small {
      flex: 1;
    }
  }
  &__overview {
    margin: 1rem 0;
    background-color: $color-darker-blue;
    padding: 1rem;
    border-radius: $border-radius-inputs;
    box-shadow: 4px 4px 4px rgba(black, 0.2);

    &--loading {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    &-content--loading {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: red;
      display: inline-block;
      margin: 0.5rem;
      transform: scale(0);
      animation: scaling 2.5s ease-in-out infinite;
      &:nth-child(0) {
        animation-delay: 0s;
      }
      &:nth-child(1) {
        animation-delay: 0.2s;
      }
      &:nth-child(2) {
        animation-delay: 0.4s;
      }
      &:nth-child(3) {
        animation-delay: 0.6s;
      }
      &:nth-child(4) {
        animation-delay: 0.8s;
      }
      &:nth-child(5) {
        animation-delay: 1s;
      }
    }
  }
}

@keyframes scaling {
  0%,
  100% {
    transform: scale(0.2);
    background-color: #30ffb7;
  }
  40% {
    transform: scale(1);
    background-color: #07deff;
  }
  50% {
    transform: scale(1);
    background-color: #0761ff;
  }
}
