@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.summary {
  &__header {
  }
  &__content {
    display: flex;
    flex-direction: column;
    @include desktop {
      flex-direction: row;
      gap: 1rem;
    }
  }
  &__main-title {
    padding: 1rem 0;
  }
  &__table-titles {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    border-bottom: 1px solid white;
    margin: 0.5rem 0;
  }
  &__titles {
    flex: 2;
    &--small {
      flex: 1;
    }
  }
}

.summary-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  justify-content: space-between;
  align-content: flex-start;
  width: 100%;
  @include desktop {
    margin: 2rem 0;
    width: 75%;
  }
}
