@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;
.pie-chart {
  &-legend__item {
    display: flex;
    gap: 0.2rem;
    align-items: center;
    cursor: pointer;
    color: $color-text;
    &--focus {
      color: $color-text;
    }
    &--unfocused {
      color: $color-light-brown;
    }
  }
  &-legend__label {
    font-weight: $font-weight-regular;
  }
}
