@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.details-page {
  &__header {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  &__header-icon {
    position: absolute;
    left: 1rem;
    cursor: pointer;
    padding: 0.2rem;
    &:hover {
      filter: invert(20%);
      transition: ease-in-out 0.25s;
    }
  }
}

.details {
  display: flex;
  flex-direction: row;

  &__content {
    width: 100%;
    background-color: $color-darker-blue;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: 2rem;
    gap: 1rem;
    border-radius: $border-radius-inputs;
    box-shadow: 1px 1px 0.2rem $color-dark-purple;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
  &__btn {
    border-radius: $border-radius-inputs;
    padding: 0.2rem;
    width: 10%;
    background-color: $color-darker-blue;
    border: none;
    &:hover {
      transition: ease-in-out 0.25s;
      box-shadow: 1px 1px 0.625rem $color-black;
    }
  }
  &__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
    background-color: $color-dark-purple;
    padding: 0.4rem;
    border-radius: $border-radius-inputs;
    box-shadow: 1px 1px 0.2rem $color-black;
  }
  &__title {
    padding: 0.1rem 0;
    border-bottom: 1px solid $color-black;
  }
  &__row {
    display: flex;
    gap: 2rem;
  }
}
